.profile{
    width:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
h1{
    font-size:45px;
    text-align:center;
    border-bottom:1px solid grey;
    margin:0px;
    padding:20px;
}
ol{
    border-right:1px solid grey;
    width:100px;
    margin:0px;
    padding:20px;
}
a{
    color:black;
    text-decoration-line: none;
}
#grid{
    display:grid;
    grid-template-columns: 150px 1fr;
}
